<!DOCTYPE html>

<html lang="ar" dir="rtl">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Itqan</title>

    <!-- Custom fonts for this template-->
    <link href="~/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="~/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.rtl.min.css">
    <!--تم تعطيل ملف المضغوط ووضع الملف التنسيقي لكي اعدل علية-->
    @*<link href="~/css/sb-admin-2.min.css" rel="stylesheet">*@

    <link href="~/css/sb-admin.css" rel="stylesheet" />
    <link href="~/css/sb-admin-2RTL.css" rel="stylesheet" />

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
                <div class="sidebar-brand-text mx-3 "> <sup></sup></div>
                <div class="sidebar-brand-icon rotate-n-15">
                    @*<i class="fas fa-laugh-wink"></i>*@
                </div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0" />
            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="#">
                    <span>إتقان</span>
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                </a>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider" />
            <!-- Heading -->
            <div class="sidebar-heading">
                البيانات الاساسية
            </div>
            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    <span>عن إتقان</span>
                    <i class="fas fa-fw fa-cog"></i>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">الرؤية والرسالة</h6>

                        <a class="collapse-item" href="~/Lang1/Index"> اللغة</a>

                        <a class="collapse-item" href="~/IMAGE_header/Index">صور الهيدر</a>

                        <a class="collapse-item" href="~/Define_Itqan/Index">الرؤية والرسالة</a>
                        <a class="collapse-item" href="~/Goals/Index">الاهداف</a>
                        <a class="collapse-item" href="~/Videos/Index">الفديو التعريفي</a>


                    </div>
                </div>
            </li>
            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
                    <span>القاعدة النورانية</span>
                    <i class="fas fa-fw fa-wrench"></i>

                </a>
                <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Custom Utilities:</h6>
                        <a class="collapse-item" href="~/FirstContentQurans/Index">لمحة عن القاعدة النورانية</a>
                        <a class="collapse-item" href="~/Alnoors/Index"> مميزات القاعدة النورانية</a>


                        <a class="collapse-item" href="~/Conditions/Index">شروط التسجيل</a>
                        <a class="collapse-item" href="~/Police/Index">الشروط والاحكام</a>
                        <a class="collapse-item" href="~/Required_IT/Index">المتطلبات التقنية</a>
                    </div>
                </div>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider">
            <!-- Heading -->
            <div class="sidebar-heading"> Addons </div>
            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
                    <span>الدراســة</span>

                    <i class="fas fa-fw fa-folder"></i>
                </a>
                <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">خطط الدراسة</h6>
                        <a class="collapse-item" href="~/Plan_Studie/Index"> خطط الدراسة </a>

                        <a class="collapse-item" href="~/Content_course/Index">المنهج التعليمي </a>
                        <a class="collapse-item" href="~/Categore_People/Index">الفئات العمرية</a>
                        <a class="collapse-item" href="~/Lessons/Index">الجلسة التعليمية</a>
                        <div class="collapse-divider"></div>
                        <h6 class="collapse-header"> المميزات</h6>
                        <a class="collapse-item" href="~/Card_Feture/Index">مزايا اتقان</a>
                        <a class="collapse-item" href="~/Feture_Itqan/Index">بماذا تتميز منصتنا </a>
                        <a class="collapse-item" href="~/Apps/Index"> التطبيقات</a>
                        <a class="collapse-item" href="~/Links/Index"> روابط تهمك</a>

                    </div>
                </div>
            </li>
            <hr class="sidebar-divider">
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities22" aria-expanded="true" aria-controls="collapseUtilities22">
                    <span> الاعدادت</span>
                    <i class="fas fa-fw fa-wrench"></i>
                </a>
                <div id="collapseUtilities22" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Custom Utilities:</h6>
                        <a class="collapse-item" href="~/Account/EditProfil">تغير  بياناتي</a>
                        @if (User.IsInRole("Admin"))

                        {

                            <a class="collapse-item" href="~/Account/Register"> إضافة موظف</a>
                        }


                        @*<a class="collapse-item" href="~/Conditions/Index">شروط التسجيل</a>
        <a class="collapse-item" href="~/Police/Index">الشروط والاحكام</a>
        <a class="collapse-item" href="~/Required_IT/Index">المتطلبات التقنية</a>*@
                    </div>
                </div>
            </li>
            <!--seting-->


            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link" href="~/Contact_Withme/Index">
                    <span>البريد</span>

                    <i class="fas fa-fw fa-chart-area"></i>
                </a>
            </li>

            <!-- Nav Item - Tables -->
            @*<li class="nav-item">
                <a class="nav-link" href="#">
                    <span>Tables</span>

                    <i class="fas fa-fw fa-table"></i>
                </a>
            </li>*@

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow navbar-left" style="direction:ltr!important">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    @*<form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>*@

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav" style="">
                        <!-- Nav Item - Messages -->
                       <!-- Nav Item - User Information  alter-->
                        @Html.Partial("_LoginPartial")

                        <!--end Alter-->
                        <li class="nav-item dropdown no-arrow mx-1">
                        </li>
                    </ul>

                </nav>                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800"><!--Dashboard--></h1>
                        @*<a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>*@
                    </div>

                    <!-- Content Row -->
                    @*<div class="row">

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Earnings (Monthly)</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">$40,000</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Earnings (Annual)</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">$215,000</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Tasks</div>
                                            <div class="row no-gutters align-items-center">
                                                <div class="col-auto">
                                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>
                                                </div>
                                                <div class="col">
                                                    <div class="progress progress-sm mr-2">
                                                        <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Pending Requests Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Pending Requests</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>*@

                    <!-- Content Row -->

                </div>
                <!-- /.container-fluid -->
                @RenderBody()
            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2020</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/Scripts/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/Scripts/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="~/Scripts/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/Scripts/chart-area-demo.js"></script>
    <script src="~/Scripts/chart-pie-demo.js"></script>



    <!-- Page level plugins -->
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/Scripts/datatables-demo.js"></script>

    @RenderSection("scripts",required:false)
</body>

</html>
