
@{
    ViewBag.Title = "FAQ";
    //Layout = "~/Views/Shared/_LayoutRTL.cshtml";
    Layout = "~/Views/Shared/_LayoutSecondPages.cshtml";

}
@Html.Partial("_headerPart")

@Html.Partial("_FAQ")

<div class="clearfix"></div>

@Html.Partial("_Footer")

