
@{
    ViewBag.Title = "Quran";
    //Layout = "~/Views/Shared/_LayoutRTL.cshtml";
        Layout = "~/Views/Shared/_LayoutSecondPages.cshtml";

}

@Html.Partial("_headerPart")

@Html.Partial("_QuranDetiles")

<div class="clearfix"></div>

@Html.Partial("_Footer")

