@model IEnumerable<Itqan.Models.Goals>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutCpanelRTL2.cshtml";
}


    @using (Html.BeginForm())
    {
    <table class="table container pb-5">
        <tr>
            <th>
                @Html.DropDownList("Lang", null, htmlAttributes: new { @class = "form-control" })
            </th>
            <th class="col-md-1">
                <input type="submit" value="Search" class="btn btn-primary" style="max-width:150px;" />
            </th>
            <th class="col-md-4">
                <a href="~/Goals/Create" class="btn btn-primary">إضافة</a>

            </th>
            
        </tr>
    </table>

    }
<table class="table container text-center">
    <tr>
        <th>
            الاهداف
        </th>     
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Gaol)
        </td>
      
        <td>
            @Html.ActionLink("تعديل", "Edit", new { id=item.ID_Goals }) 
            @*@Html.ActionLink("Details", "Details", new { id=item.ID_Goals }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_Goals })*@
        </td>
    </tr>
}

</table>
